html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    background:white;
}

.backgroundimg {
    background-image: url("../images/polygon-scatter-haikei.svg");
    background-repeat: repeat-x;
}

.redLetter {
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#navbarDropdown {
    color: white !important;
}

.formBackground {
    color:black;
}

.addMember {
    margin-top:1rem;
}
